.container {
    margin: 3rem;
    font-family: sans-serif;

    $main-dark: #b1a3a3;
    $main-light: #e9e9e9;

    input {
        padding: 10px 15px;
        border: 1px solid $main-dark;
        border-radius: 5px;
        font-size: 1rem;
        letter-spacing: 1px;
        text-decoration: none;
        min-width: 30ch;
    }

    .wrapper {
        position: relative;
        
        .input-container {
            position: relative;
            z-index: 2;

            .right-caret {
                position: absolute;
                top: 28%;
                right: 4%;
                font-size: 1rem;
                width: fit-content;
                line-height: 1;
                font-weight: bold;
                transform: rotate(90deg);
            }
            
            .right-caret.hover {
                transform: rotate(-90deg);
            }
        }

        .options-container {
            position: absolute;
            top: 120%;
            left: 0;
            max-height: 200px;
            max-width: 100%;
            overflow-y: scroll;

            li {
                padding: 10px 5px;
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }
            }

            
        }

        /* width */
        .options-container::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        .options-container::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        .options-container::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        .options-container::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
}